<div class="card-container">
  <mat-card class="register-card mx-auto p-4">
    <mat-card-header>
      <div class="mx-auto">
        <mat-card-title class="mb-3">Register</mat-card-title>
      </div>
    </mat-card-header>
    <form (ngSubmit)="onSubmit()" [formGroup]="authenticationForm">
      <mat-card-content>
        <app-text-input [formControl]="$any(authenticationForm.get('username'))"
                        [label]="'Username'"
                        [placeholder]="'Ex. pat@example.com'"></app-text-input>

        <app-text-input [formControl]="$any(authenticationForm.get('password'))"
                        [label]="'Password'"
                        [placeholder]="'Password'"></app-text-input>

        <app-text-input [formControl]="$any(authenticationForm.get('confirmPassword'))"
                        [label]="'Confirm Password'"
                        [matcher]="crossFieldErrorMatcher"
                        [placeholder]="'Confirm Password'"></app-text-input>
        <!--          <a [routerLink]="['/auth/forgotpassword']">Forgot Your Password?</a>-->
      </mat-card-content>
      <mat-card-actions>
        <button
          color="primary" mat-raised-button type="submit">
          Register
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>

{{ this.authenticationForm.value | json }}
