<div class="row mb-3">
  <div class="col-12">
    <div class="card p-2">
      <h1 class="m-0 mx-auto">Your profile</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div *ngIf="editForm && editForm.dirty" class="alert alert-info">
      <strong>Information: </strong> You have made changes. Any unsaved changes will be lost
    </div>
  </div>
</div>

<div *ngIf="member" class="row">
  <div class="col-md-4 col-sm-12 mb-3 mb-md-0">
    <div class="card">
      <img alt="{{member.knownAs}}" class="card-img-top img-thumbnail"
           src="{{member.photoUrl || './assets/user.png'}}">
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{member.lastActive}}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{member.created}}</p>
        </div>
      </div>
      <div class="card-footer">
        <button (click)="updateMember()" type="submit" [disabled]="!editForm.dirty" class="w-100" color="primary" mat-raised-button
                >
          Save Changes
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-8 col-sm-12  mb-5">
    <div class="card p-3">
      <tabset class="member-tabset">
        <tab heading='About {{member.knownAs}}'>
          <form (ngSubmit)="updateMember()" [formGroup]="editForm" id="editForm">
            <h4>Description</h4>
            <textarea class="form-control" formControlName="introduction" name="introduction" rows="4"></textarea>
            <h4 class="mt-2">Looking for</h4>
            <textarea class="form-control" formControlName="lookingFor" name="lookingFor" rows="4"></textarea>
            <h4 class="mt-2">Interests</h4>
            <textarea class="form-control" formControlName="interests" name="interests" rows="4"></textarea>
            <h4 class="mt-2">Location Details: </h4>
            <div class="form-inline">
              <label for="city">City: </label>
              <input class="form-control mx-2" formControlName="city" id="city" name="city" type="text">
              <label for="country">Country: </label>
              <input class="form-control mx-2" formControlName="country" id="country" name="country" type="text">
            </div>
          </form>
        </tab>
        <tab heading='Edit Photos'>
          <app-photo-editor [member]="member"></app-photo-editor>
        </tab>
      </tabset>
    </div>
  </div>
</div>
